@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fff;
    color: #333;
}

/* Header */
header {
    background-color: rgba(218, 218, 218, 0.062);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.logo {
    height: 150px;
    width: 240px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ff7a00;
    font-weight: bold;
}

/* Banner */
.banner {
    background: #f8b26a;
    background-image: linear-gradient(180deg, #f8b26a, #fbe2c4);
    text-align: center;
}

.banner-text {
    background-image: url(imagens/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    min-height: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), 0 -10px 30px rgba(0, 0, 0, 0.2);
}

.banner h1 {
    color: white;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.banner p {
    color: white;
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff7a00;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Destaques */
.destaques {
    padding: 50px 20px;
    text-align: center;
}

.destaques h2 {
    margin-bottom: 30px;
    color: #ff7a00;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 0;
}

.card {
    width: 220px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(255, 122, 0, 0.2);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3 {
    margin: 15px 0 10px;
    font-size: 18px;
    color: #333;
}

.card p {
    color: #ff7a00;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #ff7a00;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.status {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background-color: #ff8f44;
    color: #ffffff;
}